#General:

*~
*.bak
*.o
*.a
*.user

#PSoC:

*.cycdx
*.cyfit
*.rpt
*.svd
*.lst

#Very specific:

execute_1_0.cydsn/CortexM3/
execute_1_0.cydsn/codegentemp/
execute_1_0.cydsn/Generated_Source/
Backup/
execute_1_0.cydsn/execute_1_0_timing.html
execute_1_0.cydsn/Export/PSoCCreatorExportIDE.xml
execute_1_0.cydsn/execute_1_0.svd
execute_1_0.cydsn/execute_1_0.rpt
execute_1_0.cydsn/execute_1_0.cyfit
execute_1_0.cydsn/execute_1_0.cycdx
*.dephy
execute.cywrk.*
execute_1_0.cydsn/execute_1_0.cyprj.*
execute_1_0.cydsn/BUILD.log
execute_1_0.cydsn/execute_1_0.cyprj